.container{
  font-size:10pt;
}

.input-group-addon {
    color: #fff;
    background-color: #337ab7;
 }
 
 .form-control, .input-group-addon {
    border-radius: 0px;
    z-index: 2;
 }

 label{
   text-align: left !important;
 }

 .glyphicon{
   position: relative;
 }

 .input-group-addon{
  position: relative;
  top:-1px;
 }

 .glyphicon-lock{
   position: relative;
   top: -1px;
 }

 .form-control-feedback{
   position:relative !important;
   margin:0;
   padding:0;
   float:right;
   left:0;
   width:400px;
   font-size:8pt;
   top:5px !important;
   display:block;
 }